/**
 * Author: Surfing-Chef
 * Author URI: https://github.com/Surfing-Chef
 * Description: This stylesheet contains styles and layout
 * specific to this plugin.
 *
 * IMPORTANT! Custom styles will be deleted if the plugin is uninstalled/deleted.
 * The stylesheet and its content are only used by WordPress when the plugin is activated.
 * Although still in the plugin folder, WordPress will ignore custom styles if the plugin is not activated.
 * Be sure to back up the sc-style-admin.css file if changing themes or migrating WordPress, plugins or themes.
*/

/*h1 {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 9px 0 4px;
  line-height: 29px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}*/
